<div class="container">
	
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">StockMock
                <small>Change Password</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Profile</a>
                </li>
                <li class="active">Change Password</li>
            </ol>
        </div>

    </div>
	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Change Username</h2>
                <form ng-controller="PasswordCtrl">
                    Username: <br><input type="text" ng-model="realusername"><br><br>
                <input name="submit" class="btn btn-primary" type="submit" value="Submit" ng-click="changeUsername()">
                </form>
                <h2>Change About Me</h2>
                <form ng-controller="PasswordCtrl">
                    About Me: <br><input type="text" ng-model="aboutme"><br><br>
                <input name="submit1" class="btn btn-primary" type="submit" value="Submit" ng-click="changeAboutme()">
                </form>
                <h2>Change Password</h2>
				<form ng-controller="PasswordCtrl">
					Email Address: <br><input type="text" ng-model="username"><br>
					Old Password: <br><input type="password" ng-model="oldPassword"><br>
					New Password: <br><input type="password" ng-model="newPassword"><br><br>
					<input name="submit2" class="btn btn-primary" type="submit" value="Submit" ng-click="changePassword()">
				</form>
            </div>
            
	</div>
	<br>

</div>
