<div class="container">
	
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">StockMock
                <small>Welcome! Please log in.</small>
            </h1>
        </div>

    </div>
	<div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="text-center">Log In</h2>
				<form ng-controller="LoginCtrl">
					Username: <br><input type="text" ng-model="username"><br>
					Password: <br><input type="password" ng-model="password"><br><br>
					<input name="login" class="btn btn-primary" type="submit" value="Login" ng-click="login()">
				</form><br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="text-center">Create Account</h2>
				<form ng-controller="LoginCtrl">
					Username: <br><input type="text" ng-model="create_realusername"><br>
					Email Address: <br><input type="text" ng-model="create_username"><br>
					Password: <br><input type="password" ng-model="create_password"><br>
					Confirm Password: <br><input type="password" ng-model="validate"><br><br>
					<input name="signup" class="btn btn-primary" type="submit" value="Submit" ng-click="signup()">
				</form>
            </div>
            
	</div>
	<br>

</div>
